<div class="slide" id="mapTags">
  <div class="chatter">Shows the density of <span class="legendary blue3">vehicles tagged</span> during January and February Minneapolis snow emergencies – shaded from <span class="legendary blue1">less</span> to <span class="legendary blue5">more</span> – compared to <span class="legendary orange3">vehicles towed</span>.</div>
  <div class="map" id="tags"></div>
</div>

<div class="byline">Data source: City of Minneapolis | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a> | Note: tagging data is preliminary</div>