<div class="slide" id="mapTags">
  <div class="chatter">Shows the density of <span class="legendary blue3">vehicles tagged</span> during the Minneapolis January 2019 snow emergency – shaded from <span class="legendary blue1">less</span> to <span class="legendary blue5">more</span> – compared to <span class="legendary orange3">vehicles towed</span>.</div>
  <div class="map" id="tags"></div>
</div>
<!-- <div class="slide" id="mapTow">
    <div class="chatter">Density of vehicles towed during January 2019 snow emergency, shaded from <span class="legendary blue1">less</span> to <span class="legendary blue5">more</span>.</div>
  <div class="map" id="tows"></div>
</div> -->
<div class="byline">Source: City of Minneapolis | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
